// 
// general.scss
// 

body {
    font-family: $font-primary;
    color: $dark;
    background: $body-bg;
    line-height: 1.6;
    font-size: 15px;
}

a {
    text-decoration: none !important;
    outline: none;
}

html {
    scroll-padding-top: 65px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-secondary;
}
